## Old ados folder
old_ados/*

## Confidential data files
data/procurement_test.dta
data/midRiskRDDdataset.dta
data/procurement_test2.dta
data/procurement_test3.dta
*.gph

## Latex shit
*.log
*.aux
*.fdb_latexmk
*.fls 
*.synctex.gz